<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>DOQMT - reset password</title>
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/reset-password.css">
  <link rel="stylesheet" href="/css/success-fail.css">
</head>
<body>
<nav>
  <a href="/"><img class="small-logo" src="/img/logo.svg" alt="작은 로고"></a>
  <a class="sign-btn" href="/signup">Sign Up</a>
</nav>
<div class="container">
  <div class="outer-box">
    <div class="inner-box">
      <a href="/"><img class="small-logo" src="/img/logo.svg" alt="작은 로고"></a>
      <h2>Forgot Your Password?</h2>
      <p class="comment">Enter your email address and we will send you authentication code to reset your password.</p>

      <div class="email-box">
        <label class="input-label" for="email">Email address</label>
        <input id="email" class="border-gray" type="email">
      </div>

      <div class="auth-box">
        <label class="input-label" for="auth">Authentication Code</label>
        <input id="auth" class="border-gray" type="text">
      </div>

      <div class="pw-box border-gray">
        <label class="input-label" for="pw">New password</label>
        <input id="pw" type="password">
        <button class="see-password"><img src="/img/eye.svg" alt="비밀번호 확인"></button>
      </div>

      <div class="pw-again-box border-gray">
        <label class="input-label" for="pw-again">New password (again)</label>
        <input id="pw-again" type="password">
        <button class="see-password"><img src="/img/eye.svg" alt="비밀번호 확인"></button>
      </div>

      <div class="pw-check-box">
        <span>Your password must contain:</span>
        <div class="pw-check-status">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
          </svg>
          <span>At least 8 characters</span>
        </div>
      </div>

      <button class="continue-btn">Continue</button>
      <a class="go-login" href="/signin" th:onclick="|location.href='/signin'|">Back to Login</a>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/reset-password.js"></script>
</body>
</html>